<div class="main container">
  <h2>つぶやき一覧</h2>
  <P><%= notice %></P>
  <% @posts.each do |post| %>
    <table>
      <tr>
        <td class="left"><%= post.content %></td>
        <div class="edit_delete">
        <td class="right"><%= link_to '編集', edit_post_path(post.id) %></td>
        <td class="right"><%= link_to '削除', post_path(post.id), method: :delete, data: {confirm: '本当に削除してもよろしいですか？'} %></td>
        </div>
      </tr>
    </table>
  <% end %>
  <div class="new_murmur">
    <%= link_to '新しくつぶやく', new_post_path, class: "form_link" %>
  </div>
</div>
